In [1]:
import pandas as pd
import sqlite3
import os

In [2]:
# Define the path for your SQLite database file
db_path = '/kaggle/working/music_database.db'

# Connect to the SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect(db_path)

In [3]:
# Path to the folder containing your CSV files
csv_folder_path = '/kaggle/input/music-store-data-csvs/'

# Loop through all CSV files in the folder
for csv_file in os.listdir(csv_folder_path):
    if csv_file.endswith('.csv'):
        # Read the CSV file into a DataFrame
        df = pd.read_csv(os.path.join(csv_folder_path, csv_file))
        
        # Use the filename (without extension) as the table name
        table_name = os.path.splitext(csv_file)[0]
        
        # Write the DataFrame to the SQLite database
        df.to_sql(table_name, conn, if_exists='replace', index=False)

# Close the connection to the database
conn.close()

In [4]:
# Reconnect to the database
conn = sqlite3.connect(db_path)

# Query to get the list of tables
tables = conn.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

# Print the list of tables
print("Tables in SQLite database:")
for table in tables:
    print(table[0])

# Close the connection
conn.close()

Tables in SQLite database:
genre
invoice
track
artist
playlist_track
album2
invoice_line
customer
playlist
employee
album
media_type

In [5]:
import shutil

# Move the SQLite file to the output directory
shutil.move(db_path, '/kaggle/working/my_database.db')

'/kaggle/working/my_database.db'

In [6]:
%load_ext sql

In [7]:
# Set the connection to the SQLite database
%sql sqlite:////kaggle/working/my_database.db

In [8]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:////kaggle/working/my_database.db
Done.

[('genre',),
 ('invoice',),
 ('track',),
 ('artist',),
 ('playlist_track',),
 ('album2',),
 ('invoice_line',),
 ('customer',),
 ('playlist',),
 ('employee',),
 ('album',),
 ('media_type',)]

## 1. Who is the senior most employee based on job title

In [9]:
%%sql
SELECT * FROM employee
ORDER BY levels DESC
LIMIT 1;

 * sqlite:////kaggle/working/my_database.db
Done.

[(9, 'Madan', 'Mohan', 'Senior General Manager', None, 'L7', '26-01-1961 00:00', '14-01-2016 00:00', '1008 Vrinda Ave MT', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'madan.mohan@chinookcorp.com')]